:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: hsl(219, 63%, 26%);
  --color-dark: #0b2447;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
